@charset "utf-8";

body {
  font-family:"맑은 고딕", MalgunGothic, "돋움", Dotum, Helvetica, Sans-serif;
  font-size:12px;
}

/* Layout */
section.wrap {
  
}
header.container_top {

}
section.container_side {
  overflow:auto;
  position:absolute;
  top:51px;
  bottom:510px;
  left:0;
  width:180px;
  padding:15px 0 0 0;
}
section.container_content {
  position:absolute;
  overflow:auto;
  top:51px;
  right:0;
  bottom:50px;
  left:180px;
}
footer.container_bottom {
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  height:50px;
  border-top:1px solid #ccc;
}
@media (max-width:767px) {
  section.wrap {
    
  }
  header.container_top {

  }
  section.container_side {
    overflow:initial;
    position:initial;
    top:initial;
    bottom:initial;
    left:initial;
    width:initial;
    padding:66px 0 0 0;
  }
  section.container_content {
    position:initial;
    overflow:initial;
    top:initial;
    right:initial;
    bottom:initial;
    left:initial;
  }
  footer.container_bottom {
    position:initial;
    right:initial;
    bottom:initial;
    left:initial;
    height:initial;
    border-top:initial;
  }
}

/* Bootstrap Override */
.radio-inline input[type=radio], .checkbox-inline input[type=checkbox] {
  margin-top:0;
}